@import url(https://fonts.googleapis.com/css?family=Fredoka+One|Work+Sans);

body {
  font: calc(16px + 0.5vw)/1.5 'Work Sans', sans-serif;
  color: #333;
  overflow-x: hidden;
}
h1, h2 {
  font-family: 'Fredoka One', sans-serif;
  font-weight: normal;
  line-height: 1;
}
h1, h2, p { margin: 0; }
h1 { font-size: 2.83rem; }
h2 { font-size: 2; }
main {
  width: 40rem;
  margin: 0 auto;
}

section {
  margin: 10rem 1rem;
  position: relative;
}
section.-left { text-align: left; }
section.-center { text-align: center; }
section.-right { text-align: right; }

.services {
  background: #fdfdd0;
  padding: 1.5rem;
  width: 20rem;
  color: #e1983f;
}
.services > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.services > h2 {
  margin-bottom: 1.5rem;
}
.services > ul > li {
  white-space: nowrap;
  margin-bottom: .5rem;
}
.services > ul > li > .emoji {
  height: 1em;
  vertical-align: -0.15em;
  margin-right: 0.15em;
}
.services > * {
  margin-right: -5rem;
}
.about > .services {
  position: absolute;
  top: 7rem;
  right: -5rem;
}

.team .wrapper {
  display: inline-block;
  height: 600px;
  width: 400px;
  position: relative;
  text-align: center;
}
.team img {
  position: absolute;
  top: 50%;
  left: 50%;
}
.team .steve {
  transform: translate(-50%, -100%);
}
.team .beato {
  transform: translate(-100%, 0);
}
.team .ria {
  transform: translate(10%, 0);
}

.clients ul {
  list-style: none;
  padding: 0;
  margin: 3rem 0;
}

@media (max-width: 40rem) {
  main { width: auto; }
  section.-left,
  section.-center,
  section.-right { text-align: center; }
}
