@import url(https://fonts.googleapis.com/css?family=Fredoka+One|Work+Sans);

body {
  font: 20px/1.5 'Work Sans', sans-serif;
  color: #333;
  overflow-x: hidden;
  margin: 0;
}
h1, h2 {
  font-family: 'Fredoka One', sans-serif;
  font-weight: normal;
  line-height: 1;
}
h1, h2, p { margin: 0; }
h1 { font-size: 2.83em; }
h2 { font-size: 2em; }
section {
  padding: 1rem;
  position: relative;
}
section.-left { text-align: left; }
section.-center { text-align: center; }
section.-right { text-align: right; }
.col {
  width: 40rem;
  margin: 0 auto;
  position: relative;
}

/* Header */

header {
  position: fixed;
  z-index: 10;
  width: 100%;
  transition: font-size .2s ease-in-out;
}
header > .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 100vw solid #e90;
  border-bottom: 75vh solid transparent;
  padding-top: 0;
  transition: border .4s ease-in-out, padding-top .2s ease-in-out;
}
header.-mini > .bg {
  border-bottom: 0 solid transparent;
  border-left-color: rgba(255, 255, 255, 0.8);
  padding-top: 7.5rem;
}

header > .title {
  transform: translateY(10vh);
  position: relative;
  transition: transform ease-in-out .4s;
  padding-top: 1.5rem;
}
header.-mini > .title {
  transform: translateY(0);
}

header > .title > .text {
  color: white;
  transition: all ease-in-out .4s;
}
header.-mini > .title > .text {
  color: inherit;
  transform: translateX(17.5rem);
  font-size: 80%;
}

header > .title > .logo {
  transition: all ease-in-out .4s;
}
header.-mini > .title > .logo {
  transform: translate(-4.5rem, -11.5rem) scale(0.5);
}

@keyframes logo {
  from {
    transform: translateY(10px) rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  to {
    transform: translateY(-10px) rotate(5deg);
  }
}
header > .title > .logo > img {
  height: 20rem;
  animation: 3s linear infinite alternate logo;
}
header > .title > .logo > img:hover {
  animation-duration: .2s;
}

/* Services */

.services {
  margin-top: 80vh;
  color: #e90;
}
.services > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.services > h2 {
  margin-bottom: 1.5rem;
}
.services > ul > li {
  white-space: nowrap;
  margin-bottom: .5rem;
}
.services > ul > li > .emoji {
  height: 1em;
  vertical-align: -0.15em;
  margin-right: 0.15em;
}

/* Team */

.team {
  margin: 25vh 0;
}
.team > .col {
  display: flex;
  align-items: center;
}
.team > .col > .circle {
  flex: 1 auto;
  height: 400px;
  width: 400px;
  position: relative;
  text-align: center;
}
.circle > img {
  position: absolute;
  top: 50%;
  left: 50%;
}
.circle > .steve {
  transform: translate(-50%, -100%);
}
.circle > .beato {
  transform: translate(-100%, 0);
}
.circle > .ria {
  transform: translate(10%, 0);
}
.circle > a {
  text-decoration: none;
  cursor: pointer;
}
.circle > .steve > img {
  display: block;
  margin: 0 auto;
}

/* Clients */

.clients {
  margin: 25vh 0;
}
.clients ul {
  list-style: none;
  padding: 0;
  margin: 3rem 0;
}

/* Contact */

.contact {
  margin: 25vh 0;
}

/* Responsive */

@media (max-width: 40rem) {
  .col { width: auto; }
  section.-left,
  section.-center,
  section.-right { text-align: center; }
}
